.root {
    -fx-background-color: #1d2b36;

}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #cacfd6;
    -fx-padding: 10px; /* You can adjust the value as per your needs */

}
.button {
    -fx-font-size: 14px;
    -fx-padding: 8px 30px; /* Increased horizontal padding from 16px to 30px */
    -fx-text-fill: #cacfd6;
    -fx-border-radius: 50px;
    -fx-background-color: #3872a1;
    -fx-effect: dropshadow(gaussian, rgba(154, 165, 176, 0.6), 20, 0, 2, 2);

}.button:hover {
    -fx-font-size: 14px;
    -fx-padding: 8px 30px; /* Increased horizontal padding from 16px to 30px */
    -fx-text-fill: #cacfd6;
    -fx-border-radius: 50px;
    -fx-background-color: rgba(56, 114, 161, 0.71);
     -fx-effect: dropshadow(gaussian, rgba(154, 165, 176, 0.6), 20, 0, 2, 2);
    /*-fx-translate-x: -5px;
    -fx-translate-y: -5px;*/
    -fx-scale-x: 1.09px;
    -fx-scale-y: 1.09px;
    /*-fx-rotate: 10deg;*/

}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-text-fill: #cacfd6;
    -fx-background-color: #3872a1;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(154, 165, 176, 0.6), 20, 0, 2, 2);
    -fx-margin: 10px; /* This line adds margins around the input field */
}
